.content-container {
  margin-block-start: 2.375rem;
  display: grid;
  column-gap: 2.5rem;
  row-gap: 1.875rem;
  /* grid-auto-rows: 6rem; */
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 34.375rem), 1fr));
  grid-auto-rows: 5.625rem;
}