/* imports */
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

/* creating variables for colors */
  :root {
    --gradient-bg-color-1: #ececec;
    --gradient-bg-color-2: #fff;
    --font-color-primary: #3b3b3b;
    --font-color-secondary: #343434;
    --bg-primary: #fff;
    --border-color-primary: #2e2e2e;
    --button-color-primary: #606060;
    --button-bg-primary: #fcfcfc;
    --button-color-hover-primary: #1797ff;
    --card-border-primary: #979797;
    --card-bg-secondary: #60606023;
  }

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
